body {
	height: 721px;
	background: linear-gradient(0deg, rgba(65,247,192,1) 34%,
				rgba(255,255,255,1) 90%),
				rgb(65,247,192) no-repeat center;
				
}

.Isekai {
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;
	margin-top: 15rem;

}

.point {
	float: right;
	margin-right: 20rem;
	height: 60%;
	width: 30%;
}

.question1 {
	float: left;
	margin-left: 30rem;
	padding-bottom: 80px;
	height: 25%;
	width: 13%;
}

.question2 {
	float: left;
	margin-left: 30rem;
	padding-bottom: 80px;
	height: 25%;
	width: 13%;
}